.container.mx-auto.mt-3.white.text-2
  .text-center.mb-2
    .text-1 Made by 
      a.underline.hover_no-underline(href="https://twitter.com/pixelastic") pixelastic
      .inline-block.px-01 -
      a.underline.hover_no-underline(href="https://github.com/pixelastic/gods") Source code
  .italic.text-1.opacity-50p
    | This website uses trademarks and/or copyrights owned by Paizo Inc.,
    | which are used under Paizo's Community Use Policy. We are expressly 
    | prohibited from charging you to use or access this content. This website
    | is not published, endorsed, or specifically approved by Paizo Inc. 
    | For more information about Paizo's Community Use Policy, please visit
    | #[a.underline.hover_no-underline(href="https://paizo.com/communityuse") paizo.com/communityuse].
    | For more information about Paizo Inc. and Paizo products, please visit
    | #[a.underline.hover_no-underline(href="https://paizo.com") paizo.com].
