@font-face {
  font-family: 'Saber';
  src: url('./fonts/Saber-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('./fonts/Alegreya-Regular.woff2') format('woff2'),
    url('./fonts/Alegreya-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya';
  src: url('./fonts/Alegreya-Bold.woff2') format('woff2'),
    url('./fonts/Alegreya-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya';
  src: url('./fonts/Alegreya-Italic.woff2') format('woff2'),
    url('./fonts/Alegreya-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Alegreya';
  src: url('./fonts/Alegreya-BoldItalic.woff2') format('woff2'),
    url('./fonts/Alegreya-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

.alegreya {
  font-family: 'Alegreya', serif;
}
.saber {
  font-family: 'Saber', serif;
}
