block content
  p.text-center.mt-3 Data extracted from 
    a.inline.indigo-9.hover_underline(href="pathfinderwiki.com") pathfinderwiki.com 
    | and code available on 
    a.inline.indigo-9.hover_underline(href="https://github.com/pixelastic/pantheon") GitHub
    |.
  .text-center.italic.text-01.p-3
      | This website uses trademarks and/or copyrights owned by Paizo Inc.,
      | which are used under Paizo's Community Use Policy. I am are expressly 
      | prohibited from charging you to use or access this content. This website
      | is not published, endorsed, or specifically approved by Paizo Inc. 
      | For more information about Paizo's Community Use Policy, please visit
      | #[a(href="https://paizo.com/communityuse") paizo.com/communityuse].
      | For more information about Paizo Inc. and Paizo products, please visit
      | #[a(href="https://paizo.com") paizo.com].

